
 .bdy{
	border : 1px solid;
	width : 1400px;
	height : 300px;
	background-color:#a3c2c2;
}
.bdy1{
	border : 1px solid;
	width : 1400px;
	height : 300px;
	background-color:#0000ff;
}
	#btn {
		margin-left: 1040px;
		background-color: #006666 ;
  border: 1px rounded;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

 
	}

