<!DOCTYPE html>

<html>

<head>

<title>

AngularJs ng-pattern Email Validation Example

</title>
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<script type="text/javascript">

var app = angular.module('ngpatternApp', []);

app.controller('ngpatternCtrl', function ($scope) {

$scope.sendForm = function () {

$scope.msg = "Form Validated";

};

});

</script>
<style type="text/css">

 input.ng-invalid {
    background-color: lightblue; }
 
     .main
	 {
	   background-color:rgb(7, 50, 66);
	   min-height:40px;
	   width:1380px;
	   color:white;
	   font-size:20px; 
       padding:6px 6px;   
	 }
	 #user
	 {
	    height:450px;
		max-width:700px;
		min-width:420px;
		background-color: rgb(7, 50, 66);
		border-radius:20px;
		}
		p { color: white;}
		

</style>

</head>

<body>

<div class="col-xs-9 col-sm-12 col-md-12 col-lg-12">
  <div class="container" id="user">
      
   
	 <img src="logo.png" 
	     
         class="col-md-6 col-xs-8 col-xs-offset-1 col-sm-6 col-lg-6 col-lg-offset-2 col-md-offset-6 col-sm-offset-3 col-xs-offset-3"	
	 />

<div class="col-xs-9 col-sm-8 col-md-8 col-lg-6
	       col-lg-offset-2 col-sm-offset-2 col-xs-offset-1">

<!--     ------------   email validation            ---------------------------------------------------------------------------------------------    -->

<div ng-app="ngpatternApp" ng-controller="ngpatternCtrl">

<form action="Login" method="post" target="_self" style="margin-left:40px;margin-top:50px;"   name="personForm" novalidate ng-submit="personForm.$valid &sendForm()" >
<div class="form-group"> 
	<label style="color:white">Email </label>
	<input class="form-control" type="email" name="name" ng-model="txtmail"  required />

<span  style="color:Red;float:right" ng-show="personForm.email.$error.required"> Required! </span>

<span style="color:Red;float:right" ng-show="personForm.email.$dirty&&personForm.email.$error.pattern">Please Enter Valid Email</span>

<br />
<!--  ------------------------------------  Password  -------------------------------------------------------------------------------                -->
	<div  class="form-group">
		  <label style="color:white">Password </label>
		  <input class="form-control" type="password" name="pwd" ng-model="pwd" placeholder="password" required />
		</div>
		 <div >

		  <button  
		      class="btn btn-default btn btn-primary 
			  col-xs-3 col-sm-2  col-lg-3
			  col-lg-offset-9 col-xs-offset-9 col-sm-offset-10 ">
			  Log in</button>
		 
		 
</div>

</form>

</div>
	</div>

</body>

</html>
