.main1
	 {
	   background-color: #7575a3;
	   width:800px;
	   font-size:20px; 	 
       padding:6px 6px; 
       margin:2px;
      min-height:30px;	   
	 }
.navbar
{
	min-height:40px;
}
#btn
{
	background-color:#7575a3;
	color:block;
	
	border-radius:20px white;
}
#btn:hover{background-color: #85adad;border-radius:20px;}
.icon-bar{background-color: white}
