table {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr{background-color: white;}


th {
  background-color: #0c3f8c;
  color: white;
}